@import "tachyons";

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
  opacity: 0.5;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rotated:hover {
  animation: App-logo-spin infinite 20s linear;
}

/*
font-family: 'Pacifico', cursive;
font-family: 'Courgette', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Coming Soon', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Crafty Girls', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Berkshire Swash', cursive;
*/


.logo {
  font-family: 'Patrick Hand', cursive;
  color: #3e514b;
}

.logo-header {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.tagline {
  font-family: 'Courgette', cursive;;
}

h2, h3, p {
  margin: 0;
}

* {
  outline: 0;
}

html { height: 100%; }
body {
    min-height:100%;
    position:relative;
    padding-bottom: 20px;
    background-color: #7ba799;
}

.footer {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height: 20px;
}

/* Haruki Input from https://tympanus.net/codrops/2015/01/08/inspiration-text-input-effects/ */

/*.input__field--haruki {
	padding: 0.4em 0.25em;
	width: 100%;
	background: transparent;
	color: #AFB5BB;
	font-size: 1.55em;
}

.input__label--haruki {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
}

.input__label-content--haruki {
	transition: transform 0.3s;
}

.input__label--haruki::before,
.input__label--haruki::after {
	content: '';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 4px;
	background: #6a7989;
	transition: transform 0.3s;
}

.input__label--haruki::before {
	top: 0;
}

.input__label--haruki::after {
	bottom: 0;
}

.input__field--haruki:focus + .input__label--haruki .input__label-content--haruki,
.input--filled .input__label-content--haruki {
	transform: translate3d(0, -90%, 0);
}

.input__field--haruki:focus + .input__label--haruki::before,
.input--filled .input__label--haruki::before {
	transform: translate3d(0, -0.5em, 0);
}

.input__field--haruki:focus + .input__label--haruki::after,
.input--filled .input__label--haruki::after {
	transform: translate3d(0, 0.5em, 0);
}*/

.magic-input {
  background: transparent;
  width: 80%;
  margin: auto;
  height: 20px;
  border-top: black solid 3px;
  border-bottom: black solid 3px;
}

.magic-input:focus {
  transition: transform .3s;
  transform: scale(1.2)
}

.name-list-header {
  font-family: 'Grand Hotel', cursive;
}
