.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


/*
font-family: 'Pacifico', cursive;
font-family: 'Courgette', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Coming Soon', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Crafty Girls', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Berkshire Swash', cursive;
*/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

 * {
  /*animation: App-logo-spin infinite 20s linear;*/
}
